---
// server side code at build time
import Shell  from './components/shell.astro'
import Wave   from './components/wave.astro'
import Ship   from './components/ship.astro'
import Fish   from './components/fish.astro'
import Bubble from './components/bubble.astro'
import '../styles/icons.css'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ocean Icon Set</title>
  </head>
  <body>
    <div class="icon-grid">
      <Shell />
      <Wave />
      <Ship />
      <Fish />
      <Bubble />
    </div>
  </body>
</html>
